.categorias-section {
  text-align: center;
  padding: 150px 20px;
}

.categorias-section h2 {
  color: var(--color-principal); /* usa color global */
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.categorias-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 40px;
  max-width: 1000px;
  margin: 0 auto;
}

.categoria {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease;
  color: var(--color-principal);
}

.categoria:hover {
  transform: translateY(-5px);
}

.categoria-icono {
  background-color: var(--color-principal);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.categoria-icono img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  /* Elimina el filtro */
}

.categoria-nombre {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 576px) {
  .categoria-icono {
    width: 80px;
    height: 80px;
  }

  .categoria-nombre {
    font-size: 0.9rem;
  }

  .categorias-section h2 {
    font-size: 2rem;
  }
}
