* {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-style: normal;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-family: "Nunito", sans-serif;
}

:root {
  --max-width: 1320px;
  --title-size: 50px;
  --primary-color: #ffffff;
  --secondary-color: #232323;
  --tertiary-color: #d94e33;
  --quaternary-color: #d9d9d9;
  --background-color: #01004c;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--primary-color);
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.button {
  padding: 10px 20px;
  height: fit-content;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.button a {
  font-size: 1.4rem;
  font-weight: 800;
  text-decoration: none;
}

.button-primary {
  background-color: var(--tertiary-color);
}

.button-primary a {
  color: var(--primary-color);
}

.button-quaternary {
  background-color: #f6d93c;
}

.button-quaternary a {
  color: #e20b21;
}

@media (max-width: 1024px) {
  .button {
    width: 100%;
    text-align: center;
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  flex: 1;
}

.section {
  max-width: var(--max-width);
}
