main {
  padding-bottom: 0px;
}

.banner-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.banner {
  background-color: white;
  color: var(--background-color);
}

.content {
  display: flex;
  align-items: center;
}

.title {
  font-size: 100px;
  line-height: 1;
}

.line {
  background-color: var(--background-color);
}

.line::after {
  background-color: var(--background-color);
}

.login-container {
  z-index: 1;
  color: var(--primary-color);
  width: 600px;
  min-height: 50%;
  padding: 2rem;
  background-color: var(--background-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-container h2 {
  font-size: var(--title-size);
  font-weight: 800;
  text-align: center;
}

form {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  margin-bottom: 1.25rem;
}

label {
  display: block;
  font-size: 20px;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1rem;
}

button[type="submit"] {
  width: 100%;
}

.links {
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.links a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1rem;
}
