main {
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  color: var(--secondary-color);
  width: 50%;
  min-height: 50%;
  padding: 2rem;
  background-color: var(--quaternary-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-container h2 {
  font-size: var(--title-size);
  font-weight: 800;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  margin-bottom: 1.25rem;
}

label {
  display: block;
  font-size: 20px;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1rem;
}

button[type="submit"] {
  width: 100%;
}
