.product-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: var(--max-width);
  padding: 0 20px;
}

.product-section > h2 {
  font-size: var(--title-size);
  font-weight: 800;
  text-align: center;
}

.product-content-section {
  display: grid;
  width: 100%;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.product-card {
  display: flex;
  flex-direction: column;
  background: #d9d9d9;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
  color: black;
  align-items: center;
}

.product-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
}

.product-img > img {
  object-fit: cover;
  width: 100%;
  height: 370px;
  display: block;
}

.product-card > div > h4 {
  font-size: 25px;
  font-weight: 800;
  text-align: center;
}

.product-details {
  margin-top: 30px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-card > button {
  width: 100%;
}

@media (max-width: 768px) {
  .product-img {
    height: 250px;
  }

  .product-card > div > h4 {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .product-content-section {
    grid-template-columns: 1fr;
  }
  .product-section > h2 {
    font-size: calc(var(--title-size) * 0.8);
  }

  .product-img {
    height: 200px;
  }

  .product-card > div > h4 {
    font-size: 20px;
  }
}
