.product-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: var(--max-width);
}

.product-section > h2 {
  font-size: var(--title-size);
  font-weight: 800;
}

.product-content-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 50px;
  justify-content: space-between;
}

.product-card {
  width: 30%;
  display: flex;
  flex-direction: column;
  background: #d9d9d9;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
  color: black;
  align-items: center;
}

.product-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
}

.product-img > img {
  object-fit: cover;
  display: flex;
  height: 100%;
  align-items: center;
}

.product-card > div > h4 {
  font-size: 25px;
  font-weight: 800;
}

.product-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-card > button {
  width: 100%;
}
