.sections {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.section-card {
  background: var(--quaternary-color);
  padding: 35px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  flex: 1 1 calc(50% - 20px);
  box-sizing: border-box;
  max-width: 100%;
}

.section-card-content {
  width: 100%;
}

.section-card-content h2 {
  font-size: 2rem;
  color: var(--secondary-color);
  font-weight: 800;
  margin-bottom: 20px;
}

.section-card-content p {
  font-size: 1.2rem;
  color: var(--secondary-color);
  line-height: 1.5;
}

@media (max-width: 1024px) {
  .sections {
    gap: 50px;
  }
  .section-card {
    flex: 1 1 100%;
    flex-direction: column;
  }
}
