.banner {
  position: relative;
  width: 100%;
  height: 700px;
  background-color: var(--tertiary-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.blue-rectangle {
  position: absolute;
  width: 450px;
  height: 520px;
  background-color: var(--background-color);
  right: 400px;
  border-radius: 0px 0px 10px 10px;
  top: 0;
  z-index: 1;
}

.content {
  text-align: start;
  margin-left: -330px;
  z-index: 2;
}

.slogan {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 50px;
}

.title {
  font-size: 150px;
  font-weight: 900;
  line-height: 0.8;
}

/* Ondas SVG */
.wave-svg {
  position: absolute;
  top: 200px;
  right: -10px;
  width: 400px;
  height: 50px;
}

.bottom-wave-svg {
  position: absolute;
  bottom: 65px;
  left: -10px;
  width: 320px;
  height: 50px;
}

.x {
  font-size: 3.5rem;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 270px;
  left: 100px;
}

.x2 {
  top: 570px;
  left: 500px;
}

.x3 {
  top: 350px;
  left: 990px;
  z-index: 1;
}

/* Líneas */
.line {
  position: absolute;
  height: 10px;
  width: 80px;
  top: 100px;
  left: 245px;
  background: white;
}

.line::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 10px;
  background: white;
  top: 0;
  left: 87px;
}

.bottom-line {
  bottom: 115px;
  left: 615px;
  top: auto;
}
