.footer {
    background-color: #D9D9D9;
    padding: 40px;
    font-size: 16px;
    color: #000;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px; /* Antes 30px */
  }

  .footer-column {
    flex: 1 1 180px; /* Antes 220px */
    min-width: 160px; /* Antes 200px */
  }
  .footer-column h3 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    white-space: nowrap;
  }
  
  .footer-column h4 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .contact-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  .icon {
    font-size: 40px;
    margin-top: 15px;
    margin-right: 10px;
    line-height: 1.4;
  }

  .contact-text {
    font-size: 15px;
    line-height: 1.6;
  }

  .contact-text strong {
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 17px;
  }

  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-column ul li {
    margin-bottom: 10px;
  }

  .footer-column a {
    color: #000;
    text-decoration: none;
  }

  .footer-column a:hover {
    text-decoration: underline;
  }

  .red-link {
    color: #E20B21 !important;
    font-weight: bold !important;
    text-decoration: underline !important;
    font-size: 15px;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      gap: 25px;
    }
  }