* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --max-width: 1320px;
  --primary-color: #ffffff;
  --secondary-color: #232323;
  --background-color: #01004c;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--primary-color);
}
