.options {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px; /* espacio entre las cajas */
    padding: 10px;
    box-sizing: border-box;
}

.box {
    background-color: #d9d9d9;
    padding: 25px 45px;
    border-radius: 24px;
    width: 550px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.box h2 {
    font-size: 32px;
    color: #000;
    margin-bottom: 20px;
    font-weight: bold;
}

.group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group p {
    font-size: 18px;
    color: #222;
    margin: 0;
}

.btn {
    background-color: #d5152e;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    margin-left: 20px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #b01025;
}
