<!-- footer.html -->
<footer class="footer">
  <div class="footer-container">
    <!-- Contacto -->
    <div class="footer-column">
      <h3 class="footer-title">Comunícate con nosotros</h3>

      <div class="contact-item">
        <img src="/public/assets/icons/mail.svg" alt="Correo" class="icon-img" />
        <div class="contact-text">
          <strong>Escríbenos</strong>
          Estamos para ayudarte<br />
          <a href="mailto:serviciocliente@menoss.pe" class="highlight-link">
            serviciocliente@menoss.pe
          </a>
        </div>
      </div>

      <div class="contact-item">
        <img src="/public/assets/icons/phone.svg" alt="Teléfono" class="icon-img" />
        <div class="contact-text">
          <strong>Llámanos</strong>
          Atención al cliente<br />
          Lima y provincias:<br />
          <span class="highlight-link">(01) 999 9999</span>
        </div>
      </div>

      <div class="contact-item">
        <img src="/public/assets/icons/calendar.svg" alt="Calendario" class="icon-img" />
        <div class="contact-text">
          <strong>Visítanos</strong>
          Revisa horarios y tiendas<br />
          <a href="#" class="highlight-link">Ver tiendas</a>
        </div>
      </div>
    </div>

    <!-- Nosotros -->
    <div class="footer-column">
      <h4 class="footer-subtitle">Nosotros</h4>
      <ul>
        <li><a href="#">Conócenos</a></li>
        <li><a href="#">Responsabilidad social</a></li>
        <li><a href="#">Nuestras tiendas</a></li>
      </ul>
    </div>

    <!-- Atención al cliente -->
    <div class="footer-column">
      <h4 class="footer-subtitle">Atención al cliente</h4>
      <ul>
        <li><a href="#">Tutorial de compra</a></li>
        <li><a href="#">Horarios de atención</a></li>
        <li><a href="#">Preguntas frecuentes</a></li>
        <li><a href="#">Cambios y devoluciones</a></li>
      </ul>
    </div>

    <!-- Políticas -->
    <div class="footer-column">
      <h4 class="footer-subtitle">Políticas y condiciones</h4>
      <ul>
        <li><a href="#">Política de datos personales</a></li>
        <li><a href="#">Privacidad y derechos ARCO</a></li>
        <li><a href="#">Condiciones de promociones</a></li>
        <li><a href="#">Términos y condiciones</a></li>
      </ul>
    </div>
  </div>
</footer>
