<!-- Sección de categorías -->
<section class="sections section">
  <div class="section-card">
    <div class="section-card-content">
      <h2>Supermercado</h2>
      <p>Descubre nuestra gran variedad de productos en alimentos y recibe menos costos.</p>
    </div>
    <a href="./productos/index.html" class="button button-primary">Ingresar</a>
  </div>

  <div class="section-card">
    <div class="section-card-content">
      <h2>Hogar</h2>
      <p>Descubre nuestra gran variedad de productos para el hogar y recibe menos costos.</p>
    </div>
    <a href="./productos/index.html" class="button button-primary">Ingresar</a>
  </div>
</section>
