<!-- Sección de categorías -->
<section class="sections">
  <div class="section-card">
    <div class="section-card-content">
      <h2>🛒 Supermercado</h2>
      <p>Explora alimentos frescos y esenciales con precios Menoss.</p>
    </div>
    <a href="./productos/index.html" class="button button-primary">Ingresar</a>
  </div>

  <div class="section-card">
    <div class="section-card-content">
      <h2>🏠 Hogar</h2>
      <p>Encuentra artículos prácticos y económicos para tu casa.</p>
    </div>
    <a href="./productos/index.html" class="button button-primary">Ingresar</a>
  </div>
</section>